* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.fsz-18 {
    font-size: 18px;
}

.tx-align-c {
    text-align: center;
}

.align-center {
    align-items: center ;
}

.main-body {
    background: rgb(236, 236, 236);
}

.content-fix {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-gaps-30 {
    gap: 30px;
}

.flex-align-center {
    align-items: center;
}

.sp-between {
    justify-content: space-between;
}

.border-b-light-gray {
    border-bottom: #F2F6FC solid 1px;
}

.m-15 {
    margin: 15px;
}

.m-t-15 {
    margin-top: 15px;
}   

.m-l-15 {
    margin-left: 15px;
}

.m-b-66 {
    margin-bottom: 66px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-tb-30-lr-15 {
    margin: 30px 15px;
}

.p-15 {
    padding: 15px;
}

.p-lr-30 {
    padding: 0 30px;
}

.p-tb-15 {
    padding: 15px 0;
}

.p-t-15 {
    padding-top: 15px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-66 {
    padding-bottom: 66px;
}

.p-tb-35 {
    padding: 35px 0;
}

.header {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top:0;
}

.main {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-logo {
    width: 200px;
}

.nav-logo {
    width: 24px;
}

.btn-gray {
    padding: 15px;
    background: rgb(241, 241, 241);
    border-radius: 6px;
    transition: 500ms;
    margin: 0 5px;
}

.btn-gray:hover {
    background: rgb(212, 212, 212);
}

.navbar-categories {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.categories-item {
    transition: 300ms;
}

.categories-item:hover {
    color: #2E98D4 ;
}   

.main-content {
    background: white;
}

.artical {
    flex: 7;
}

.top-author {
    flex: 3;
}

.artical-item {
    transition: 150ms;
}

.artical-item:hover {
    color: #2E98D4 ;    
}

.a-hover {
    transition: 250ms;
}

.a-hover:hover {
    color: #2E98D4
}

.content-img {
    padding: 15px;
    max-width: 300px;
}

.artical-title {
    line-height: 35px;
    font-size: 23px;
}

.artical-short-content {
    line-height: 30px;
}

.img-avatar {
    width: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

.author-describtion {
    font-weight: 400;
    line-height: 1.5;
    color: #ADA2A0;
}

.sub-btn {
    /* outline: none; */
    border: none;
    padding: 10px;
    border-radius: 15px;
}

.footer {
    background: white;
    margin-top: 15px;
    padding-top: 15px;
}

.company-name {
    font-size: 14px;
    color: #7c7c7c;
}

.company-describtion {
    font-size: 12px;
    color: #b8b8b8;
}

.login {
    height: 700px;
    align-items: center;
}

.login-box {
    /* background: lightblue; */
    max-width: 400px;
    border-radius: 15px;
    margin: 0 auto ;
    /* height: 720px; */
    /* align-items: center; */
}

.login-box img {
    max-width: 150px;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
}

.btn-login {
    border: none;
    height: 35px;
    background: #309BD6;
    border-radius: 5px;
    min-width: 400px;
}